{# cette page permet d'afficher le formulaire d'ajout d'une annonce immobiliere#}

{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4">

    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                Nouvelle Annonce
            </h3>
        </div>
    {{   include ('form/form.html.twig',{form :form ,button:'creer'})}}
    </div>
{% endblock %}